<!DOCTYPE html>
<link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
<body>
	<h1>Welcome to Project Violet!</h1>
	<h2>A web based application for people to break out of their political bubbles</h2>
<<<<<<< HEAD
	<form method = "GET" action = "/">
		Search: <input type ='text' name = 'search'>
		<input type="submit">
	</form>
=======
	<div id="search div">
		<p><input type="text" name="searchTerm"></p>
	</div>
>>>>>>> ed164296aa20f418b2e589bf07a4d281f74600b0
</body>
</html>